@media (max-width: 1220px) {
  .info__content-item {
    padding: 20px 20px 20px;
  }

  .info__title {
    font-size: 14px;
  }

  .info__text {
    font-size: 13px;
  }
}

@media (max-width: 1024px) {
  .block__link {
    margin-bottom: 20px;
  }

  .services__content {
    height: 400px;
  }

  .services__title {
    margin-top: 10px;
    font-size: 15px;
  }

  .services__content-item {
    display: none;
  }

  .about {
    margin: 50px 0;
    padding: 40px 0;
  }

  .about__wrapper {
    flex-direction: column;
  }

  .about__img {
    margin-top: 15px;
  }

  .process__title {
    font-size: 100px;
  }

  .process__subtitle {
    font-size: 30px;
  }

  .process {
    margin: 30px 0;
  }
}

@media (max-width: 820px) {
  .intro__title {
    font-size: 40px;
  }

  .info__title {
    margin: 10px 0;
    font-size: 10px;
  }

  .info__text {
    font-size: 10px;
  }

  .process__subtitle{
    margin: 0px 0 36px;
  }
}

@media (max-width: 768px) {
  .header__logo img {
    height: 50px;
  }

  .nav {
    display: none;
  }

  .services__content {
    height: 300px;
  }
}

@media (max-width: 700px) {
  .intro__block {
    text-align: center;
  }

  .intro__title {
    font-size: 32px;
  }

  .wrapper {
    display: inline;
  }

  .block {
    text-align: center;
    width: 100%;
    margin: 0 0 15px;
  }

  .info {
    transform: translateY(0%);
  }

  .process__title {
    font-size: 70px;
  }

  .process__subtitle {
    margin: 10px 0 15px;
    font-size: 25px;
  }
}

@media (max-width: 560px) {
  .intro__title {
    font-size: 26px;
  }

  .about {
    margin: 50px 0 15px;
  }

  .about__text {
    font-size: 15px;
    margin: 16px 0;
  }

  .about__img img {
    max-height: 200px;
  }

  .about__link-item {
    text-align: center;
  }

  .about__block {
    max-width: 300px;
  }

  .about__title {
    font-size: 18px;
  }

  .process {
    margin: 0;
  }

  .process__title {
    font-size: 40px;
  }

  .process__subtitle {
    font-size: 15px;
  }

  .form__row {
    display: inline;
  }

  .contacts__form {
    text-align: center;
  }

  .block__title {
    text-align: center;
    font-size: 23px;
  }

  .contacts {
    padding: 40px 0;
  }

  .footer__wrapper {
    display: inline;
    text-align: center;
    margin-top: 10px;
  }

  .copyright {
    margin-top: 10px;
    font-size: 11px;
  }

  .footer__soc {
    margin-top: 10px;
  }
}

@media (max-width: 350px) {
  .intro__title {
    font-size: 17px;
  }

  .about {
    margin: 0;
    padding: 0;
  }
}
